body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

#blogPostContainer {
    display: flex;
    flex-direction: column;
    width: 25dvw;
}

.post {
    display: flex;
    flex-direction: column;
}
